body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
}
/*vertical*/
body{
  font-size: 100％;
  -epub-line-break: normal;
  vertical-align: baseline;
  -epub-line-break: strict;
  line-break: strict;
  -epub-word-break: normal;
  word-break: normal;
  -epub-writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -epub-line-break: normal;
  vertical-align: baseline;
  font-family: booksming;
}

a {
  color: black;
  text-decoration: none;
  border-left: 1px dotted rgba(0,0,0,0.5);
}

div.hbox a{
	border-bottom: 1px dotted rgba(0,0,0,0.5);
	border-left: none;
}

h1 ,h2 ,h3 ,h4,h5,h6{
  font-weight: bold;
  font-family: booksheiti;
}
p{
	line-height: 1.7em;
}


h1.vbooks_h1 {
	font-size: 1.9em;
	color:#052F65;
	line-height: 1.2em;
	margin: 0em 1em 0em 1.5em;
}
h1.vbooks_h1_02 {
	font-size: 1.9em;
	color:#056554;
	line-height: 1.2em;
	margin: 10em 1em 0em 1.5em;
}
h2.vbooks_h2 {
  font-size: 1.7em;
  line-height: 1.2em;
  margin:0em 0em 0em 1.2em;
}
h3.vbooks_h3 {
  font-size: 1.5em;
  line-height: 1.2em;
  margin:0em 0em 0em 1.2em;
}
h4.vbooks_h4 {
  font-size:1.333em;
  line-height: 1.2em;
  margin:0em 0em 0em 1.2em;
}
h5.vbooks_h5 {
  font-size:1.167em;
  line-height: 1.2em;
  margin:0em 0em 0em 1.2em;
}
h6.vbooks_h6 {
  font-size:1em;
  line-height: 1.2em;
  margin:0em 0em 0em 1.2em;
}
p.vbooks_p {
  text-indent: 2em;
  margin-left: 2.75em;
}
p.vbooks_blockquote {
  margin-top:2em;
  margin-bottom: 2em;
  color: #666666;
  margin-left: 2.75em;
}
p.vbooks_author {
  color: #333;
  text-align: right ;
  margin-left: 2.75em;
}

p.vbooks_author span.author_info {
	font-size: 0.75em;
	display: block;
}
p.vbooks_author span.author_info:before { content: '\00000A'; }

p.vbooks_imageinfo {
   font-size: 0.75em;
   margin-right: 0.75em;
   margin-left: 1.5em;
}
._idFootnoteLink{
  font-size : 0.7em;
  vertical-align: text-top;
  color : #666;
  border-left: none;
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
}
._idFootnoteLink:before { content: '['; }
._idFootnoteLink:after { content: ']'; }
._idFootnoteAnchor{
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
  border-left: none;

}
hr {
	border-bottom:none;
	border-left:1px solid #ccc;
	border-right:none;
	border-top:none;
}
._idFootnotes{
	margin: 0 1.5em;
}
._idFootnote{
	margin-left: 1em;
}
p.hbooks_p {
  line-height: 1.7em;
  margin-bottom: 2.75em;
}
p.hbooks_p_02 {
  line-height: 1.7em;
  margin-bottom: 1em;
}

h1.hbooks_h1 {
  font-size: 2.2em;
  line-height: 1.2em;
  text-align: center;
  margin-bottom:0.85em;
  text-shadow:1px 1px 3px #666666;
  }

span.number {
	color:#056554;
	font-size:0.5em;
}
  
span.groove{
padding:4px;
border-style:solid;
border-width:2px;
border-right-style:groove;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

.copyright{
  background-color:#f5f5f5;
  /*border-radius: 3em; */
  width: 100％;
  height: 100％;
  border-radius: 0.5em;
  border: 1px dashed #ededed;
  /*overflow: auto;*/
}
.copyright>div{
  padding: 2em;
}
.copyright h1{
  font-size: 2em;
  line-height: 1.4em;
  margin-bottom:0.85em;
  text-align:center;
  text-shadow:1px 1px 3px #666666;
}
.copyright h2{
  font-size: 1.2em;
  line-height: 1.2em;
}
.copyright h3{
  font-size: 1.1em;
  line-height: 1.1em;
  text-align:center;
  text-shadow:1px 1px 3px #666666;
}
.copyright p{
  font-size: 0.85em;
  line-height: 1.2em;
  margin-bottom:0.85em;
    text-align:center;
}

p.copyright_p2 {
  font-size: 0.85em;
  line-height: 1.2em;
  text-align: center;
  color:#A8A8A8;
  border-bottom:1px solid #333844;
}

.copyright ol,.copyright ul{
  font-size: 0.85em;
  line-height: 1.2em;
}
body.vertical .copyright  p{
  margin-left: 1em;
  text-indent: 0em;
} 
  
p.hbooks_p1 {
  line-height:1.7em;
  text-align:center;
  color:#4B474D;
}

p.hbooks_p2 {
  line-height: 1.4em;
  text-align: center;
  color:#A8A8A8;
  border-bottom:1px solid #333844;
}

p.hbooks_p3 {
  line-height: 1.7em;
  text-align: left;
  margin-bottom: 1.75em;
}

p.hbooks_p4 {
  line-height: 1.7em;
  text-align: left;
  color:#767676;
}

p.hbooks_p5 {
  line-height: 1.7em;
  text-align: center;
  color:#B23E53;
}

p.hbooks_p6 {
  line-height: 1.7em;
  text-align: center;
  color:#b40926;
}

h1.hbooks_h1_02 {
  color:#056554;
  font-size: 1.6;
  line-height: 1.2em;
  margin-bottom:2.2em;
  text-align: center;
}
h2.hbooks_h2 {
  font-size: 1.5em;
  line-height: 1.4em;
  margin:0em 0em 1.8em 0em;
}
h3.hbooks_h3 {
  font-size: 1.4em;
  line-height: 1.2em;
  margin-bottom: 1.2em;
}
h4.hbooks_h4 {
  font-size: 1.3em;
  margin-bottom: 1.2em;
}
h5.hbooks_h5 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}
h6.hbooks_h6 {
  font-size: 1.1em;
  margin-bottom: 1.2em;
}


span.tcy {
  -webkit-text-combine:horizontal;
  -epub-text-combine:horizontal;
  text-combine:horizontal;
  -webkit-text-combine-horizontal:all;
  text-combine-horizontal:all;
}
span.note_number {
  padding: 0px 3px 0px 5px;
  border-left: 3px solid #4b93de;
}

div.hbox {
  -webkit-writing-mode: horizontal-tb;
  -epub-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
}
