@charset "UTF-8";
@import "style-reset.css";
@import "style-standard.css";
@import "style-advance.css";
@import "style-bc-kadokawa.css";

/* -------------------------------------------------------------
Windows でチェックするときは以下の指定を利用
※チェックが済んだら必ず削除かコメントアウトすること
@import "style-check.css";
---------------------------------------------------------------- */



/* ファイル情報
----------------------------------------------------------------
【内容】
外部 CSS の一括読み込み と 作品別カスタマイズ指定

【CSSファイルバージョン】
ver.1.1.0

【当ファイル更新時の電書協EPUB 3 制作ガイドバージョン】
ver.1.1.1

【細目】
・外部 CSS の import
・作品別カスタマイズ領域

【更新履歴】
2012/12/07 ver.1.1.0
・ファイル更新時の電書協EPUB 3 制作ガイドバージョン表記を追加

2012/08/21 ver.1.0b1
・公開版
---------------------------------------------------------------- */


/* -------------------------------------------------------------
 * 作品別カスタマイズ領域
 * ------------------------------------------------------------- */


/* 見出しのデフォルト書体指定
---------------------------------------------------------------- */
/* 横組み用 */
.hltr h1,
.hltr h2,
.hltr h3,
.hltr h4,
.hltr h5,
.hltr h6 {
  font-family:booksming, serif-ja, serif;
}
/* 縦組み用 */
.vrtl h1,
.vrtl h2,
.vrtl h3,
.vrtl h4,
.vrtl h5,
.vrtl h6 {
  font-family:booksming, serif-ja-v, serif-ja, serif;
}


/* リンク指定
---------------------------------------------------------------- */
/* 基本設定（上：横組み　下：縦組み） */
.hltr a {
}
.vrtl a {
}
/* 未訪問リンク */
a:link {
}
/* 訪問済みリンク */
a:visited {
}
/* マウスオーバー時 */
a:hover {
}
/* フォーカス時 */
a:focus {
}
/* アクティブ時 */
a:active {
}

/* 注釈リンクの下線と色 
---------------------------------------------------------------- */
/* 基本設定（上：横組み　下：縦組み） */
.hltr a.cyu {
}
.vrtl a.cyu {
}
/* 未訪問リンク */
a.cyu:link {
}
/* 訪問済みリンク */
a.cyu:visited {
}
/* マウスオーバー時 */
a.cyu:hover {
}
/* フォーカス時 */
a.cyu:focus {
}
/* アクティブ時 */
a.cyu:active {
}


/* 見出しの指定（上：横組み　下：縦組み）
---------------------------------------------------------------- */
/* 扉見出し */
.hltr .tobira-midashi {
}
.vrtl .tobira-midashi {
}
/* 大見出し */
.hltr .oo-midashi {
}
.vrtl .oo-midashi {
}
/* 中見出し */
.hltr .naka-midashi {
}
.vrtl .naka-midashi {
}
/* 小見出し */
.hltr .ko-midashi {
}
.vrtl .ko-midashi {
}


/* カバーページ
----------------------------------------------------------------
描画領域の余白をゼロに
デフォルトで左右中央揃えに
---------------------------------------------------------------- */
body.p-cover {
  margin:     0;
  padding:    0;
  text-align: center;
}
body.p-cover .main {
}


/* 画像のみのページ
----------------------------------------------------------------
描画領域の余白をゼロに
デフォルトで左右中央揃えに
---------------------------------------------------------------- */
body.p-image {
  margin:     0;
  padding:    0;
  text-align: center;
}
body.p-image .main {
}


/* テキスト中心のページ
---------------------------------------------------------------- */
body.p-text {
}
body.p-text .main {
}


/* 本扉ページ
---------------------------------------------------------------- */
body.p-titlepage {
}
body.p-titlepage .main {
}


/* 奥付ページ
---------------------------------------------------------------- */
body.p-colophon {
}
body.p-colophon .main {
}


/* 目次ページ
---------------------------------------------------------------- */
body.p-toc {
}
body.p-toc .main {
}


/* 電子版用の注意書きページ
---------------------------------------------------------------- */
body.p-caution {
}
body.p-caution .main {
}


/* 広告ページ
---------------------------------------------------------------- */
body.p-ad {
}
body.p-ad .main {
}


