@charset "UTF-8";


/* ファイル情報
----------------------------------------------------------------
【内容】
角川書店仕様スタイル

【バージョン】
ver.2.0.0

【細目】
・既存クラス上書き指定
・ページ設定

【更新履歴】
2013/09/04 ver.2.0.0
・ファイル名を「style-kadokawa.css」から変更
・バージョン表記方法を変更
・本扉と奥付のスタイルを変更
2013/02/12 ver.1.0b3
・電書協ガイド更新にあわせ、傍線対策を削除
2012/11/29 ver.1.0b2
・傍線指定修正
2012/11/01 ver.1.0b1
・公開版
---------------------------------------------------------------- */



/* -------------------------------------------------------------
 * 既存クラス上書き指定
 * ------------------------------------------------------------- */


/* リンク指定
---------------------------------------------------------------- */
.hltr a,
.vrtl a   { text-decoration: none; }
a:link    { color: #000000; }
a:visited { color: #000000; }
a:hover   { color: #696969; }
a:focus   { color: #696969; }
a:active  { color: #696969; }

/* 注釈リンクの下線と色 */
.hltr a.cyu,
.vrtl a.cyu   { text-decoration: none; }
a.cyu:link    { color: #000000; }
a.cyu:visited { color: #000000; }
a.cyu:hover   { color: #696969; }
a.cyu:focus   { color: #696969; }
a.cyu:active  { color: #696969; }



/* -------------------------------------------------------------
 * クラス追加指定
 * ------------------------------------------------------------- */


/* フォント指定
---------------------------------------------------------------- */
/* フォントサイズ */
.font-1em25  { font-size:  1.25em; }


/* 字下げ指定
----------------------------------------------------------------
主に見出し用。上から１字下げ～６字下げ
コメントアウトされた値は、すでに存在するもの
---------------------------------------------------------------- */
/* 字下げ：横組み用 */
/* .hltr .start-0em75 { margin-left: 0.75em; } */
/* .hltr .start-1em50 { margin-left: 1.50em; } */
.hltr .start-2em25 { margin-left: 2.25em; }
/* .hltr .start-3em   { margin-left: 3.00em; } */
.hltr .start-3em75 { margin-left: 3.75em; }
.hltr .start-4em50 { margin-left: 4.50em; }

.hltr .start-0em80 { margin-left: 0.80em; }
.hltr .start-1em60 { margin-left: 1.60em; }
.hltr .start-2em40 { margin-left: 2.40em; }
.hltr .start-3em20 { margin-left: 3.20em; }
/* .hltr .start-4em   { margin-left: 4.00em; } */
.hltr .start-4em80 { margin-left: 4.80em; }

.hltr .start-0em85 { margin-left: 0.85em; }
.hltr .start-1em70 { margin-left: 1.70em; }
.hltr .start-2em55 { margin-left: 2.55em; }
.hltr .start-3em40 { margin-left: 3.40em; }
.hltr .start-4em25 { margin-left: 4.25em; }
.hltr .start-5em10 { margin-left: 5.10em; }

.hltr .start-0em90 { margin-left: 0.90em; }
.hltr .start-1em80 { margin-left: 1.80em; }
.hltr .start-2em70 { margin-left: 2.70em; }
.hltr .start-3em60 { margin-left: 3.60em; }
/* .hltr .start-4em50 { margin-left: 4.50em; } */
.hltr .start-5em40 { margin-left: 5.40em; }

.hltr .start-1em10 { margin-left: 1.10em; }
.hltr .start-2em20 { margin-left: 2.20em; }
.hltr .start-3em30 { margin-left: 3.30em; }
.hltr .start-4em40 { margin-left: 4.40em; }
.hltr .start-5em50 { margin-left: 5.50em; }
.hltr .start-6em60 { margin-left: 6.60em; }

.hltr .start-1em15 { margin-left: 1.15em; }
.hltr .start-2em30 { margin-left: 2.30em; }
.hltr .start-3em45 { margin-left: 3.45em; }
.hltr .start-4em60 { margin-left: 4.60em; }
.hltr .start-5em75 { margin-left: 5.75em; }
.hltr .start-6em90 { margin-left: 6.90em; }

.hltr .start-1em20 { margin-left: 1.20em; }
/* .hltr .start-2em40 { margin-left: 2.40em; } */
/* .hltr .start-3em60 { margin-left: 3.60em; } */
/* .hltr .start-4em80 { margin-left: 4.80em; } */
/* .hltr .start-6em   { margin-left: 6.00em; } */
.hltr .start-7em20 { margin-left: 7.20em; }

.hltr .start-1em30 { margin-left: 1.30em; }
.hltr .start-2em60 { margin-left: 2.60em; }
.hltr .start-3em90 { margin-left: 3.90em; }
.hltr .start-5em20 { margin-left: 5.20em; }
.hltr .start-6em50 { margin-left: 6.50em; }
.hltr .start-7em80 { margin-left: 7.80em; }

/* .hltr .start-1em50 { margin-left: 1.50em; } */
/* .hltr .start-3em   { margin-left: 3.00em; } */
/* .hltr .start-4em50 { margin-left: 4.50em; } */
/* .hltr .start-6em   { margin-left: 6.00em; } */
.hltr .start-7em50 { margin-left: 7.50em; }
/* .hltr .start-9em   { margin-left: 9.00em; } */

/* 字下げ：縦組み用 */
/* .vrtl .start-0em75 { margin-top: 0.75em; } */
/* .vrtl .start-1em50 { margin-top: 1.50em; } */
.vrtl .start-2em25 { margin-top: 2.25em; }
/* .vrtl .start-3em   { margin-top: 3.00em; } */
.vrtl .start-3em75 { margin-top: 3.75em; }
.vrtl .start-4em50 { margin-top: 4.50em; }

.vrtl .start-1em10 { margin-top:  1.10em; }
.vrtl .start-0em80 { margin-top: 0.80em; }
.vrtl .start-1em60 { margin-top: 1.60em; }
.vrtl .start-2em40 { margin-top: 2.40em; }
.vrtl .start-3em20 { margin-top: 3.20em; }
/* .vrtl .start-4em   { margin-top: 4.00em; } */
.vrtl .start-4em80 { margin-top: 4.80em; }

.vrtl .start-0em85 { margin-top: 0.85em; }
.vrtl .start-1em70 { margin-top: 1.70em; }
.vrtl .start-2em55 { margin-top: 2.55em; }
.vrtl .start-3em40 { margin-top: 3.40em; }
.vrtl .start-4em25 { margin-top: 4.25em; }
.vrtl .start-5em10 { margin-top: 5.10em; }

.vrtl .start-0em90 { margin-top: 0.90em; }
.vrtl .start-1em80 { margin-top: 1.80em; }
.vrtl .start-2em70 { margin-top: 2.70em; }
.vrtl .start-3em60 { margin-top: 3.60em; }
/* .vrtl .start-4em50 { margin-top: 4.50em; } */
.vrtl .start-5em40 { margin-top: 5.40em; }

.vrtl .start-1em10 { margin-top: 1.10em; }
.vrtl .start-2em20 { margin-top: 2.20em; }
.vrtl .start-3em30 { margin-top: 3.30em; }
.vrtl .start-4em40 { margin-top: 4.40em; }
.vrtl .start-5em50 { margin-top: 5.50em; }
.vrtl .start-6em60 { margin-top: 6.60em; }

.vrtl .start-1em15 { margin-top: 1.15em; }
.vrtl .start-2em30 { margin-top: 2.30em; }
.vrtl .start-3em45 { margin-top: 3.45em; }
.vrtl .start-4em60 { margin-top: 4.60em; }
.vrtl .start-5em75 { margin-top: 5.75em; }
.vrtl .start-6em90 { margin-top: 6.90em; }

.vrtl .start-1em20 { margin-top: 1.20em; }
/* .vrtl .start-2em40 { margin-top: 2.40em; } */
/* .vrtl .start-3em60 { margin-top: 3.60em; } */
/* .vrtl .start-4em80 { margin-top: 4.80em; } */
/* .vrtl .start-6em   { margin-top: 6.00em; } */
.vrtl .start-7em20 { margin-top: 7.20em; }

.vrtl .start-1em30 { margin-top: 1.30em; }
.vrtl .start-2em60 { margin-top: 2.60em; }
.vrtl .start-3em90 { margin-top: 3.90em; }
.vrtl .start-5em20 { margin-top: 5.20em; }
.vrtl .start-6em50 { margin-top: 6.50em; }
.vrtl .start-7em80 { margin-top: 7.80em; }

/* .vrtl .start-1em50 { margin-top: 1.50em; } */
/* .vrtl .start-3em   { margin-top: 3.00em; } */
/* .vrtl .start-4em50 { margin-top: 4.50em; } */
/* .vrtl .start-6em   { margin-top: 6.00em; } */
.vrtl .start-7em50 { margin-top: 7.50em; }
/* .vrtl .start-9em   { margin-top: 9.00em; } */


/* 【組み方向の入れ子対策】字下げ指定
---------------------------------------------------------------- */
/* 横組み用 */
/* .hltr .vrtl .start-0em75 { margin-left: 0.75em; } */
/* .hltr .vrtl .start-1em50 { margin-left: 1.50em; } */
.hltr .vrtl .start-2em25 { margin-left: 2.25em; }
/* .hltr .vrtl .start-3em   { margin-left: 3.00em; } */
.hltr .vrtl .start-3em75 { margin-left: 3.75em; }
.hltr .vrtl .start-4em50 { margin-left: 4.50em; }

.hltr .vrtl .start-0em80 { margin-left: 0.80em; }
.hltr .vrtl .start-1em60 { margin-left: 1.60em; }
.hltr .vrtl .start-2em40 { margin-left: 2.40em; }
.hltr .vrtl .start-3em20 { margin-left: 3.20em; }
/* .hltr .vrtl .start-4em   { margin-left: 4.00em; } */
.hltr .vrtl .start-4em80 { margin-left: 4.80em; }

.hltr .vrtl .start-0em85 { margin-left: 0.85em; }
.hltr .vrtl .start-1em70 { margin-left: 1.70em; }
.hltr .vrtl .start-2em55 { margin-left: 2.55em; }
.hltr .vrtl .start-3em40 { margin-left: 3.40em; }
.hltr .vrtl .start-4em25 { margin-left: 4.25em; }
.hltr .vrtl .start-5em10 { margin-left: 5.10em; }

.hltr .vrtl .start-0em90 { margin-left: 0.90em; }
.hltr .vrtl .start-1em80 { margin-left: 1.80em; }
.hltr .vrtl .start-2em70 { margin-left: 2.70em; }
.hltr .vrtl .start-3em60 { margin-left: 3.60em; }
/* .hltr .vrtl .start-4em50 { margin-left: 4.50em; } */
.hltr .vrtl .start-5em40 { margin-left: 5.40em; }

.hltr .vrtl .start-1em10 { margin-left: 1.10em; }
.hltr .vrtl .start-2em20 { margin-left: 2.20em; }
.hltr .vrtl .start-3em30 { margin-left: 3.30em; }
.hltr .vrtl .start-4em40 { margin-left: 4.40em; }
.hltr .vrtl .start-5em50 { margin-left: 5.50em; }
.hltr .vrtl .start-6em60 { margin-left: 6.60em; }

.hltr .vrtl .start-1em15 { margin-left: 1.15em; }
.hltr .vrtl .start-2em30 { margin-left: 2.30em; }
.hltr .vrtl .start-3em45 { margin-left: 3.45em; }
.hltr .vrtl .start-4em60 { margin-left: 4.60em; }
.hltr .vrtl .start-5em75 { margin-left: 5.75em; }
.hltr .vrtl .start-6em90 { margin-left: 6.90em; }

.hltr .vrtl .start-1em20 { margin-left: 1.20em; }
/* .hltr .vrtl .start-2em40 { margin-left: 2.40em; } */
/* .hltr .vrtl .start-3em60 { margin-left: 3.60em; } */
/* .hltr .vrtl .start-4em80 { margin-left: 4.80em; } */
/* .hltr .vrtl .start-6em   { margin-left: 6.00em; } */
.hltr .vrtl .start-7em20 { margin-left: 7.20em; }

.hltr .vrtl .start-1em30 { margin-left: 1.30em; }
.hltr .vrtl .start-2em60 { margin-left: 2.60em; }
.hltr .vrtl .start-3em90 { margin-left: 3.90em; }
.hltr .vrtl .start-5em20 { margin-left: 5.20em; }
.hltr .vrtl .start-6em50 { margin-left: 6.50em; }
.hltr .vrtl .start-7em80 { margin-left: 7.80em; }

/* .hltr .vrtl .start-1em50 { margin-left: 1.50em; } */
/* .hltr .vrtl .start-3em   { margin-left: 3.00em; } */
/* .hltr .vrtl .start-4em50 { margin-left: 4.50em; } */
/* .hltr .vrtl .start-6em   { margin-left: 6.00em; } */
.hltr .vrtl .start-7em50 { margin-left: 7.50em; }
/* .hltr .vrtl .start-9em   { margin-left: 9.00em; } */

/* 縦組み用 */
/* .vrtl .hltr .start-0em75 { margin-top: 0.75em; } */
/* .vrtl .hltr .start-1em50 { margin-top: 1.50em; } */
.vrtl .hltr .start-2em25 { margin-top: 2.25em; }
/* .vrtl .hltr .start-3em   { margin-top: 3.00em; } */
.vrtl .hltr .start-3em75 { margin-top: 3.75em; }
.vrtl .hltr .start-4em50 { margin-top: 4.50em; }

.vrtl .hltr .start-1em10 { margin-top:  1.10em; }
.vrtl .hltr .start-0em80 { margin-top: 0.80em; }
.vrtl .hltr .start-1em60 { margin-top: 1.60em; }
.vrtl .hltr .start-2em40 { margin-top: 2.40em; }
.vrtl .hltr .start-3em20 { margin-top: 3.20em; }
/* .vrtl .hltr .start-4em   { margin-top: 4.00em; } */
.vrtl .hltr .start-4em80 { margin-top: 4.80em; }

.vrtl .hltr .start-0em85 { margin-top: 0.85em; }
.vrtl .hltr .start-1em70 { margin-top: 1.70em; }
.vrtl .hltr .start-2em55 { margin-top: 2.55em; }
.vrtl .hltr .start-3em40 { margin-top: 3.40em; }
.vrtl .hltr .start-4em25 { margin-top: 4.25em; }
.vrtl .hltr .start-5em10 { margin-top: 5.10em; }

.vrtl .hltr .start-0em90 { margin-top: 0.90em; }
.vrtl .hltr .start-1em80 { margin-top: 1.80em; }
.vrtl .hltr .start-2em70 { margin-top: 2.70em; }
.vrtl .hltr .start-3em60 { margin-top: 3.60em; }
/* .vrtl .hltr .start-4em50 { margin-top: 4.50em; } */
.vrtl .hltr .start-5em40 { margin-top: 5.40em; }

.vrtl .hltr .start-1em10 { margin-top: 1.10em; }
.vrtl .hltr .start-2em20 { margin-top: 2.20em; }
.vrtl .hltr .start-3em30 { margin-top: 3.30em; }
.vrtl .hltr .start-4em40 { margin-top: 4.40em; }
.vrtl .hltr .start-5em50 { margin-top: 5.50em; }
.vrtl .hltr .start-6em60 { margin-top: 6.60em; }

.vrtl .hltr .start-1em15 { margin-top: 1.15em; }
.vrtl .hltr .start-2em30 { margin-top: 2.30em; }
.vrtl .hltr .start-3em45 { margin-top: 3.45em; }
.vrtl .hltr .start-4em60 { margin-top: 4.60em; }
.vrtl .hltr .start-5em75 { margin-top: 5.75em; }
.vrtl .hltr .start-6em90 { margin-top: 6.90em; }

.vrtl .hltr .start-1em20 { margin-top: 1.20em; }
/* .vrtl .hltr .start-2em40 { margin-top: 2.40em; } */
/* .vrtl .hltr .start-3em60 { margin-top: 3.60em; } */
/* .vrtl .hltr .start-4em80 { margin-top: 4.80em; } */
/* .vrtl .hltr .start-6em   { margin-top: 6.00em; } */
.vrtl .hltr .start-7em20 { margin-top: 7.20em; }

.vrtl .hltr .start-1em30 { margin-top: 1.30em; }
.vrtl .hltr .start-2em60 { margin-top: 2.60em; }
.vrtl .hltr .start-3em90 { margin-top: 3.90em; }
.vrtl .hltr .start-5em20 { margin-top: 5.20em; }
.vrtl .hltr .start-6em50 { margin-top: 6.50em; }
.vrtl .hltr .start-7em80 { margin-top: 7.80em; }

/* .vrtl .hltr .start-1em50 { margin-top: 1.50em; } */
/* .vrtl .hltr .start-3em   { margin-top: 3.00em; } */
/* .vrtl .hltr .start-4em50 { margin-top: 4.50em; } */
/* .vrtl .hltr .start-6em   { margin-top: 6.00em; } */
.vrtl .hltr .start-7em50 { margin-top: 7.50em; }
/* .vrtl .hltr .start-9em   { margin-top: 9.00em; } */



/* -------------------------------------------------------------
 * ページ設定
 * ------------------------------------------------------------- */


/* 本扉（標準）
---------------------------------------------------------------- */
/* ページ全体の設定 */
.p-titlepage {
}
.p-titlepage .main {
  margin:         0 auto 0 auto;
  padding:        4em 1em 1.5em 1em;
  max-width:      22em;
  text-align:     center;
  line-height:    1.6;
}
/* 作品名 */
.p-titlepage .book-title {
  margin:         0;
  padding:        0;
}
.p-titlepage .book-title-before {
  margin:         0;
  padding:        0;
  font-size:      0.85em;
}
.p-titlepage .book-title-main {
  margin:         0;
  padding:        0;
  font-size:      1.5em;
}
.p-titlepage .book-title-after {
  margin:         0;
  padding:        0;
  font-size:      0.85em;
}
.p-titlepage .book-title-demo {
  margin:         1.5em 0 0 0;
  padding:        0;
  font-size:      0.85em;
}
/* 著者名 */
.p-titlepage .author {
  margin:         1.5em 0 3em 0;
  padding:        1.5em 0 0 0;
  font-size:      0.85em;
  border-top:     1px solid black;
}
.p-titlepage .author p {
  margin:         0.5em 0 0 0;
  padding:        0;
}
/* レーベルロゴ部分 */
.p-titlepage .label {
  margin:         0;
  padding:        0.4em 0 0.3em 0;
  line-height:    1.2;
}
/* レーベルロゴ部分のロゴ画像 */
.p-titlepage .label-logo img {
  height:         3em;
}
/* レーベルロゴ部分のレーベル名 */
.p-titlepage .label-name {
  margin:         0;
  padding:        0;
  font-size:      0.75em;
  font-family:booksheiti,    sans-serif-jp, sans-serif;
}


/* 奥付（標準）
---------------------------------------------------------------- */
/* ページ全体の設定 */
.p-colophon {
}
.p-colophon .main {
  margin:         0 auto 0 auto;
  padding:        2em 1em 1em 1em;
  max-width:      22em;
  text-align:     left;
  line-height:    1.6;
}
/* 作品名 */
.p-colophon .book-title {
  margin:         0;
  padding:        0;
}
.p-colophon .book-title-before {
  margin:         0;
  padding:        0;
  font-size:      0.85em;
}
.p-colophon .book-title-main {
  margin:         0;
  padding:        0;
  font-size:      1.2em;
}
.p-colophon .book-title-after {
  margin:         0;
  padding:        0;
  font-size:      0.85em;
}
/* 著者名 */
.p-colophon .author {
  margin:         0.6em 0 0.9em 0;
  padding:        0 0 0.4em 0;
  font-size:      0.9em;
  border-bottom:  1px solid black;
}
/* レーベルロゴ部分 */
.p-colophon .label {
  margin:         0;
  padding:        0 0 0.3em 0;
  line-height:    1;
}
/* レーベルロゴ部分のロゴ画像 */
.p-colophon .label-logo img {
  height:         3em;
}
/* レーベルロゴ部分のレーベル名 */
.p-colophon .label-name {
  margin:         0;
  padding:        0;
  font-size:      0.75em;
  font-family:booksheiti,    sans-serif-jp, sans-serif;
}
/* デジタル発行日 */
.p-colophon .release-date {
  margin:         0;
  padding:        0;
  font-size:      0.8em;
}
/* (C)表記 */
.p-colophon .copyright {
  margin:         0.5em 0 0 0;
  padding:        0;
  font-size:      0.7em;
  line-height:    1.0;
}
/* 制作底本情報 */
.p-colophon .original-books {
  margin:         0.5em 0 0 0;
  padding:        0;
  font-size:      0.7em;
  line-height:    1;
}
.p-colophon .original-title {
  margin:         0.5em 0 0 0;
  padding:        0;
}
.p-colophon .original-first-edition {
  margin:         0;
  padding:        0;
}
.p-colophon .original-used-edition {
  margin:         0;
  padding:        0;
}
/* 発行者情報 */
.p-colophon .publisher-data {
  margin:         1em 0 0 0;
  padding:        0;
  font-size:      0.7em;
  line-height:    1.0;
}
.p-colophon .publish-person {
  margin:         0;
  padding:        0;
}
.p-colophon .publish-company {
  margin:         0;
  padding:        0;
}
.p-colophon .publish-address {
  margin:         0;
  padding:        0;
}
.p-colophon .publish-phone {
  margin:         0;
  padding:        0;
}
.p-colophon .publish-bc-name {
  margin:         0;
  padding:        0;
}
.p-colophon .publish-bc-address {
  margin:         0;
  padding:        0;
}
.p-colophon .publish-bc-phone {
  margin:         0;
  padding:        0;
}
.p-colophon .publish-url {
  margin:         0.5em 0 0 0;
  padding:        0;
}
/* 奥付中の断り書き */
.p-colophon .kotowarigaki {
  margin:         0.5em 0 0 0;
  padding:        0;
  font-size:      0.7em;
  line-height:    1.0;
}


/* その他ページ別スタイル
---------------------------------------------------------------- */
/* デジタル追加文言ページの全体設定 */
.p-caution {
  font-size:  0.9em;
}
.p-tobira {
  text-align: left;
}


